<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501377623862-1ensaoi3ag67qtcbdpluv25jj1qupkoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501377623862-1ensaoi3ag67qtcbdpluv25jj1qupkoj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>501377623862-vab620ni5mpf6rvnfb3u9f4jjbfvab8i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtkxMmQugPePD6BVd3pQKk1qxhXVxV_b0</string>
	<key>GCM_SENDER_ID</key>
	<string>501377623862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.barberospr</string>
	<key>PROJECT_ID</key>
	<string>barberospr</string>
	<key>STORAGE_BUCKET</key>
	<string>barberospr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501377623862:ios:92d3ae7a0d9e58941f7597</string>
</dict>
</plist>